#embers-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 999;
}

/* If you are NOT using .ember or .ember-container divs, you can delete everything below this line. 
   If you are only using the canvas effect, you only need the rule above! */
